<%- include('../include/header') %>
<p>Hi this is market place</p>
<a href="/markets/add-product" class="btn btn-secondary">Add product</a>
<a href="/markets/products" class="btn btn-secondary">All products</a>
<%- include('../include/footer') %>