<%- include('include/header') %>

<p class="lead mb-3">Hi <%= user.fname %></p>
<p>Share your issue. We are ready to help</p>
<a href="/dashboard">Back to Dashboard</a>

<%- include('include/footer') %>