<%- include('include/header') %>



<a href="/dashboard" class="btn btn-secondary">Back to dashboard</a>
<p>Back to dashboard</p>
<p>upload Successfull</p>




<%- include('include/footer') %>