<form action="/markets/cart" method="post">
    <input type="hidden" name="cart" >
    <button class="btn" type="submit">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>